<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardlin.springbootinit.mapper.ScoreMapper">

    <resultMap id="BaseResultMap" type="com.hardlin.springbootinit.model.entity.Score">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sutdyYear" column="sutdyYear" jdbcType="VARCHAR"/>
            <result property="studentId" column="studentId" jdbcType="INTEGER"/>
            <result property="subjectId" column="subjectId" jdbcType="INTEGER"/>
            <result property="ususalScore" column="ususalScore" jdbcType="DECIMAL"/>
            <result property="testScore" column="testScore" jdbcType="DECIMAL"/>
            <result property="lastScore" column="lastScore" jdbcType="DECIMAL"/>
            <result property="againScore" column="againScore" jdbcType="DOUBLE"/>
            <result property="gpa" column="gpa" jdbcType="DECIMAL"/>
            <result property="teacherName" column="teacherName" jdbcType="VARCHAR"/>
            <result property="classId" column="classId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sutdyYear,studentId,
        subjectId,ususalScore,testScore,
        lastScore,againScore,gpa,
        teacherId,classId
    </sql>
</mapper>
