<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardlin.springbootinit.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.hardlin.springbootinit.model.entity.Student">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentid" column="studentId" jdbcType="INTEGER"/>
            <result property="studentname" column="studentName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,studentId,studentName
    </sql>
</mapper>
