<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardlin.selectcourse.mapper.EnrollmentMapper">

    <resultMap id="BaseResultMap" type="com.hardlin.selectcourse.entity.Enrollment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="studentid" column="studentId" jdbcType="INTEGER"/>
            <result property="courseid" column="courseId" jdbcType="INTEGER"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,studentId,courseId,
        createTime,updateTime
    </sql>
</mapper>
